* {
    box-sizing: border-box;
}

/*----------------- Header / NAV ------------------------- */
header {
    border-bottom: solid rgb(0, 0, 0) 2px;
    background-color:rgb(160, 155, 154);
    margin: -8px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: sticky;
}

h1{
    font-weight:bold;
    padding-top: 15px;
    padding-left: 100px;
}


/* ------------------- main parts ------------------ */
body{
    background-color:rgb(172, 117, 227);
    font-family: Arial;
    color: rgb(38, 54, 70);
}

h3 {
    margin-top: 20px;
}

#container {
    width: 70%;
    margin: auto;
    text-align: center;
}


/* --- color selection section --- */
#pick-color {
    padding-top: 10px; 
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

#pick-color section{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:auto;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px; 
    /* margin: 0px -100px; */
}

#pick-color p, 
#pick-color input {
    margin-bottom: 15px;
}

form{
    padding: 0rem 2rem;
}

form button{
    font-size: 18px;
    background-color: cadetblue;
    width: 30%;
    color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 15px;
}

form input[type="text"] {
    width: 30%;
}

#download-btn {
    margin: 15px 0px;
}

.generated {
    margin-top: 15px;
}

img {
    width: 20%;
}

@media screen and (max-width: 768px) {
    #container {
        width: 80%;
    }
    
    h1 {
        font-size: 200%;
    }
}
